<a href="https://colab.research.google.com/github/baamsoo/colab_copy/blob/main/230623_pandas_%EB%B3%B5%EC%8A%B5_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

## Merge

In [ ]:
df1 = pd.DataFrame({
    '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    '이름': ['둘리', '도우너', '또치', '길동', '희동', '마이콜', '영희']
}, columns=['고객번호', '이름'])
df1 # 고객 목록

   고객번호   이름
0  1001   둘리
1  1002  도우너
2  1003   또치
3  1004   길동
4  1005   희동
5  1006  마이콜
6  1007   영희

In [ ]:
df2 = pd.DataFrame({
    '고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
    '금액': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['고객번호', '금액'])
df2 # 구매 기록

   고객번호      금액
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

In [ ]:
# pandas.merge(left, right)
# pd.merge(df1, df2)
pd.merge(left=df1, right=df2, how='inner', on='고객번호')  # 이름, 금액 모두 고객번호에 해당하는게 존재하는 것만 합쳐주겠다

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

In [ ]:
pd.merge(left=df1, right=df2, how='outer', on='고객번호')

   고객번호   이름        금액
0  1001   둘리   10000.0
1  1001   둘리   20000.0
2  1001   둘리   30000.0
3  1002  도우너       NaN
4  1003   또치       NaN
5  1004   길동       NaN
6  1005   희동   15000.0
7  1006  마이콜    5000.0
8  1007   영희       NaN
9  1008  NaN  100000.0

In [ ]:
pd.merge(left=df1, right=df2, how='left', on='고객번호')  # left 존재하는 모든 행의 데이터 (기준 열), right에 nan이 존재해도 그 상태로 받아오겠다

   고객번호   이름       금액
0  1001   둘리  10000.0
1  1001   둘리  20000.0
2  1001   둘리  30000.0
3  1002  도우너      NaN
4  1003   또치      NaN
5  1004   길동      NaN
6  1005   희동  15000.0
7  1006  마이콜   5000.0
8  1007   영희      NaN

In [ ]:
pd.merge(left=df1, right=df2, how='right', on='고객번호')

   고객번호   이름      금액
0  1001   둘리   10000
1  1001   둘리   20000
2  1005   희동   15000
3  1006  마이콜    5000
4  1008  NaN  100000
5  1001   둘리   30000

In [ ]:
df1 = pd.DataFrame({
    '품종': ['setosa', 'setosa', 'virginica', 'virginica'],
    '꽃잎길이': [1.4, 1.3, 1.5, 1.3]},
    columns=['품종', '꽃잎길이'])
df1

          품종  꽃잎길이
0     setosa   1.4
1     setosa   1.3
2  virginica   1.5
3  virginica   1.3

In [ ]:
df2 = pd.DataFrame({
    '품종': ['setosa', 'virginica', 'virginica', 'versicolor'],
    '꽃잎너비': [0.4, 0.3, 0.5, 0.3]},
    columns=['품종', '꽃잎너비'])
df2

           품종  꽃잎너비
0      setosa   0.4
1   virginica   0.3
2   virginica   0.5
3  versicolor   0.3

In [ ]:
pd.merge(df1, df2)

          품종  꽃잎길이  꽃잎너비
0     setosa   1.4   0.4
1     setosa   1.3   0.4
2  virginica   1.5   0.3
3  virginica   1.5   0.5
4  virginica   1.3   0.3
5  virginica   1.3   0.5

티 주문

파이썬 : 흰색, 파란색, 노란색

자바 : 빨간색, 검정색

파이썬 : L, XL, XXL

자바 : M, S

자바스크립트 : ????

In [ ]:
pd.merge(df1, df2, how='outer')

           품종  꽃잎길이  꽃잎너비
0      setosa   1.4   0.4
1      setosa   1.3   0.4
2   virginica   1.5   0.3
3   virginica   1.5   0.5
4   virginica   1.3   0.3
5   virginica   1.3   0.5
6  versicolor   NaN   0.3

In [ ]:
df1 = pd.DataFrame({
    '고객명': ['춘향', '춘향', '몽룡'],
    '날짜': ['2018-01-01', '2018-01-02', '2018-01-01'],
    '데이터': ['20000', '30000', '100000']})
df1

  고객명          날짜     데이터
0  춘향  2018-01-01   20000
1  춘향  2018-01-02   30000
2  몽룡  2018-01-01  100000

In [ ]:
df3 = df1.copy()
df3

  고객명          날짜     데이터
0  춘향  2018-01-01   20000
1  춘향  2018-01-02   30000
2  몽룡  2018-01-01  100000

In [ ]:
df3.columns

Index(['고객명', '날짜', '데이터'], dtype='object')

In [ ]:
df3.columns = ['고객명', '날짜', '금액']
df3

  고객명          날짜      금액
0  춘향  2018-01-01   20000
1  춘향  2018-01-02   30000
2  몽룡  2018-01-01  100000

In [ ]:
df3.rename(columns={'금액':'구매금액'})

  고객명          날짜    구매금액
0  춘향  2018-01-01   20000
1  춘향  2018-01-02   30000
2  몽룡  2018-01-01  100000

In [ ]:
# { oldname : newname }
df3.rename(columns={'구매금액':'금액'}, inplace=True)

In [ ]:
df3

  고객명          날짜      금액
0  춘향  2018-01-01   20000
1  춘향  2018-01-02   30000
2  몽룡  2018-01-01  100000

In [ ]:
df2 = pd.DataFrame({
    '고객명': ['춘향', '몽룡'],
    '데이터': ['여자', '남자']})
df2

  고객명 데이터
0  춘향  여자
1  몽룡  남자

In [ ]:
# pd.merge(df1, df2)
pd.merge(df1, df2, on=['고객명', '데이터'])

Empty DataFrame
Columns: [고객명, 날짜, 데이터]
Index: []

In [ ]:
pd.merge(df1, df2, on=['고객명'])

  고객명          날짜   데이터_x 데이터_y
0  춘향  2018-01-01   20000    여자
1  춘향  2018-01-02   30000    여자
2  몽룡  2018-01-01  100000    남자

In [ ]:
pd.merge(df1, df2, on=['고객명'], suffixes=['_A', '_B'])

  고객명          날짜   데이터_A 데이터_B
0  춘향  2018-01-01   20000    여자
1  춘향  2018-01-02   30000    여자
2  몽룡  2018-01-01  100000    남자

In [ ]:
df1 = pd.DataFrame({
    '이름': ['영희', '철수', '철수'],
    '성적': [1, 2, 3]})
df1

   이름  성적
0  영희   1
1  철수   2
2  철수   3

In [ ]:
df2 = pd.DataFrame({
    '성명': ['영희', '영희', '철수'],
    '성적2': [4, 5, 6]})
df2

   성명  성적2
0  영희    4
1  영희    5
2  철수    6

In [ ]:
# pd.merge(df1, df2)

MergeError: ignored

In [ ]:
pd.merge(df1, df2, left_on='이름', right_on='성명')

   이름  성적  성명  성적2
0  영희   1  영희    4
1  영희   1  영희    5
2  철수   2  철수    6
3  철수   3  철수    6

In [ ]:
pd.merge(df1, df2, left_on='이름', right_on='성명').drop('성명', axis=1)

   이름  성적  성적2
0  영희   1    4
1  영희   1    5
2  철수   2    6
3  철수   3    6

In [ ]:
df1 = pd.DataFrame({
    '도시': ['서울', '서울', '서울', '부산', '부산'],
    '연도': [2000, 2005, 2010, 2000, 2005],
    '인구': [9853972, 9762546, 9631482, 3655437, 3512547]})
df1

   도시    연도       인구
0  서울  2000  9853972
1  서울  2005  9762546
2  서울  2010  9631482
3  부산  2000  3655437
4  부산  2005  3512547

In [ ]:
import numpy as np

df2 = pd.DataFrame(
    np.arange(12).reshape((6, 2)),
    index=[['부산', '부산', '서울', '서울', '서울', '서울'],
           [2000, 2005, 2000, 2005, 2010, 2015]],
    columns=['데이터1', '데이터2'])
df2

         데이터1  데이터2
부산 2000     0     1
   2005     2     3
서울 2000     4     5
   2005     6     7
   2010     8     9
   2015    10    11

In [ ]:
pd.merge(df1, df2, left_on=['도시', '연도'], right_index=True)

   도시    연도       인구  데이터1  데이터2
0  서울  2000  9853972     4     5
1  서울  2005  9762546     6     7
2  서울  2010  9631482     8     9
3  부산  2000  3655437     0     1
4  부산  2005  3512547     2     3

In [ ]:
df1 = pd.DataFrame({
    '품종': ['setosa', 'setosa', 'virginica', 'virginica'],
    '꽃잎길이': [1.4, 1.3, 1.5, 1.3]},
    columns=['품종', '꽃잎길이'])
df2 = pd.DataFrame({
    '품종': ['setosa', 'virginica', 'virginica', 'versicolor'],
    '꽃잎너비': [0.4, 0.3, 0.5, 0.3]},
    columns=['품종', '꽃잎너비'])
df1, df2

(          품종  꽃잎길이
 0     setosa   1.4
 1     setosa   1.3
 2  virginica   1.5
 3  virginica   1.3,
            품종  꽃잎너비
 0      setosa   0.4
 1   virginica   0.3
 2   virginica   0.5
 3  versicolor   0.3)

In [ ]:
df1.join(df2, lsuffix='l')  # 중복되는 열이 있을 경우 접미사를 통해서 변경

         품종l  꽃잎길이          품종  꽃잎너비
0     setosa   1.4      setosa   0.4
1     setosa   1.3   virginica   0.3
2  virginica   1.5   virginica   0.5
3  virginica   1.3  versicolor   0.3

In [ ]:
df3 = df1.set_index('품종')
df4 = df2.set_index('품종')
df3.join(df4)

           꽃잎길이  꽃잎너비
품종
setosa      1.4   0.4
setosa      1.3   0.4
virginica   1.5   0.3
virginica   1.5   0.5
virginica   1.3   0.3
virginica   1.3   0.5

In [ ]:
s1 = pd.Series([0, 1], index=['A', 'B'])
s2 = pd.Series([2, 3, 4], index=['A', 'B', 'C'])
s1, s2

(A    0
 B    1
 dtype: int64,
 A    2
 B    3
 C    4
 dtype: int64)

In [ ]:
# pd.concat([s1, s2])
pd.concat([s1, s2], axis=0)

A    0
B    1
A    2
B    3
C    4
dtype: int64

In [ ]:
pd.concat([s1, s2], axis=1)

     0  1
A  0.0  2
B  1.0  3
C  NaN  4

# 피봇, 그룹분석

In [ ]:
data = {
    "도시": ["서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"],
    "연도": ["2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"],
    "인구": [9904312, 9631482, 9762546, 3448737, 3393191, 3512547, 2890451, 263203],
    "지역": ["수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"]
}
columns = ["도시", "연도", "인구", "지역"]

df1 = pd.DataFrame(data)
df1

   도시    연도       인구   지역
0  서울  2015  9904312  수도권
1  서울  2010  9631482  수도권
2  서울  2005  9762546  수도권
3  부산  2015  3448737  경상권
4  부산  2010  3393191  경상권
5  부산  2005  3512547  경상권
6  인천  2015  2890451  수도권
7  인천  2010   263203  수도권

In [ ]:
# 각기 대응하는 값들이 1개일 경우에는 pivoting
df1.pivot('도시', '연도', '인구')

<ipython-input-50-97ff2d745f06>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  df1.pivot('도시', '연도', '인구')

연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN   263203.0  2890451.0

In [ ]:
# 각기 대응하는 값들이 1개일 경우에는 pivoting
# df1.pivot('지역', '연도', '인구')  # ValueError: Index contains duplicate entries, cannot reshape

<ipython-input-51-611abc62d56f>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  df1.pivot('지역', '연도', '인구')

ValueError: ignored

In [ ]:
import numpy as np

np.random.seed(0)
df2 = pd.DataFrame({
    'key1': ['A', 'A', 'B', 'B', 'A'],
    'key2': ['one', 'two', 'one', 'two', 'one'],
    'data1': [1, 2, 3, 4, 5],
    'data2': [10, 20, 30, 40, 50]
})
df2

  key1 key2  data1  data2
0    A  one      1     10
1    A  two      2     20
2    B  one      3     30
3    B  two      4     40
4    A  one      5     50

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    5 non-null      object
 1   key2    5 non-null      object
 2   data1   5 non-null      int64
 3   data2   5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

In [ ]:
groups = df2.groupby(df2['key1'])
groups

In [ ]:
groups.groups

{'A': [0, 1, 4], 'B': [2, 3]}

In [ ]:
df1.groupby(df1.지역).groups

{'경상권': [3, 4, 5], '수도권': [0, 1, 2, 6, 7]}

In [ ]:
groups.count()

      key2  data1  data2
key1
A        3      3      3
B        2      2      2

In [ ]:
g = df1.groupby(df1.지역)

In [ ]:
g.count()

     도시  연도  인구
지역
경상권   3   3   3
수도권   5   5   5

In [ ]:
g.sum()

<ipython-input-63-8ef9a38d21e2>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.sum()

           인구
지역
경상권  10354475
수도권  32451994

In [ ]:
g.size()

지역
경상권    3
수도권    5
dtype: int64